@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <!-- BOOTSTRAP -->
        @Styles.Render("~/css")
        @Scripts.Render("~/js")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jqueryval")
        <link href="browsit.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            @Html.ActionLink(" ", "Index", "Home", new {area = "" }, new { @style = "background: url('" + Url.Content("~/Images/logo9-9.png") + "') no-repeat center right; display:block; height:50px; width:300px;" })
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Documentation", "Index", "Documentation", new { area = "Information" }, null)</li> 
                                    <li>@Html.ActionLink("About", "About", "Documentation", new { area = "Information" }, null)</li> 
                                    <li>@Html.ActionLink("Contact", "Contact", "Documentation", new { area = "Information" }, null)</li>
                                    <li>@Html.ActionLink("Upload", "Index", "Upload", new { area = "Upload" }, null)</li>
                                    <li>@Html.ActionLink("Data", "Index", "Data", new { area = "Data" }, null)</li>
                                    <li>@Html.ActionLink("Reports", "Index", "Reports", new { area = "Reporting" }, null)</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="inner cover">
                        @RenderBody()
                    </div>
                    <div class="mastfoot">
                        <div class="inner">
                            <p>&copy; @DateTime.Now.Year - Tektronix</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>
