@model BROWSit.Helpers.SqlHelper.SqlTable

<h3>Reports List</h3>
@if (Model.errorStrings.Count > 0)
{
    foreach (string e in Model.errorStrings)
    {
        @e
    }
}
@if (Model.contents != null)
{
    <div class="display">
        <table class="table table-striped table-bordered table-hover">
            @if (Model.contents.Rows.Count == 0)
            {
                <tr><td colspan="5">-- No reports found --</td></tr>
            }
            else
            {
                <tr>
                    @foreach (System.Data.DataColumn c in Model.contents.Columns)
                    {
                        <th style="white-space:nowrap">
                            @c.Caption
                            @if (1 == 2)
                            {
                                <button class="btn btn-default" type="submit" name="sortDown" value="@c.Caption"><span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span></button>
                            }
                            else
                            {
                                <button class="btn btn-default" type="submit" name="sortDown" value="@c.Caption"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button> 
                            }
                            @if (1 == 2)
                            {
                                <button class="btn btn-default" type="submit" name="sortUp" value="@c.Caption"><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></button>
                            }
                            else
                            {
                                <button class="btn btn-default" type="submit" name="sortUp" value="@c.Caption"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button> 
                            }
                        </th>
                    }
                </tr>
                foreach (System.Data.DataRow r in Model.contents.Rows)
                {
                    <tr>
                        @foreach (var v in r.ItemArray)
                        {
                            <td>@v.ToString()</td>
                        }
                    </tr>
                }
            }
        </table>
    </div>
    
    <hr />
}