@model BROWSit.Models.Report

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Report</legend>

    <div class="display-label">CreationDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreationDate)</div>

    <div class="display-label">ModificationDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ModificationDate)</div>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Author</div>
    <div class="display-field">@Model.Author</div>

    <div class="display-label">Query</div>
    <div class="display-field">@Model.Query</div>

    <div class="display-label">getDefaultColumns</div>
    <div class="display-field">@(Model.getDefaultColumns == null ? "None" : Model.getDefaultColumns.Count.ToString())</div>

    <div class="display-label">getAllColumns</div>
    <div class="display-field">@(Model.getAllColumns == null ? "None" : Model.getAllColumns.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


