@using BROWSit.Models;
@model BROWSit.Models.PRSCRUDModel

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>PRS</legend>

        <h4>@Model.message</h4>

        <div class="editor-label">
            @Html.LabelFor(model => model.prs.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prs.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.prs.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prs.Author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.prs.Path)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prs.Path)
        </div>

        <p>
            <button class="btn btn-default" type="submit" name="submitType" value="create">Create</button>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
