@model BROWSit.Models.Requirement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Requirement</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rationale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rationale)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModificationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModificationDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prefix.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prefix.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Release.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Release.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
